<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4dGP0XDF5np4iHSyvRG9mwfuZQvxMmZU</string>
	<key>GCM_SENDER_ID</key>
	<string>564546573600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MarqueeCo.SaveEasy</string>
	<key>PROJECT_ID</key>
	<string>saveeasy-6deb7</string>
	<key>STORAGE_BUCKET</key>
	<string>saveeasy-6deb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564546573600:ios:7fc44238d4852d48907345</string>
</dict>
</plist>